pipeline/increamental load.json
{
	"name": "increamental load",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(ModifiedDate) AS MaxModifiedDate\nFROM dbo.CustomerDetails_Target;",
						"queryTimeout": "00:12:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_target_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy among dbs incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'SELECT * FROM dbo.CustomerDetails_Source WHERE ModifiedDate > ''',\nactivity('Lookup1').output.firstRow.MaxModifiedDate,\n''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "00:12:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_db",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_db",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}